body{
    font-family: $body-font;
    font: {
        size: map-get($font-sizes , "md" );
    };
    color: color("dark");
    background-color: color('white');
}
h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    letter-spacing: -2px;
}
img{
    display: block;
}
a{
    text-decoration: none;
}
.body-wrapper{
    position: relative;
    top: 73px;
    @include media-breakpoint-up("lg"){
        margin: 0 20px;
    }
    }
.txt-white{
    color: color('white');
    &:hover{
        color: color('orange');
    }
}
.txt-black{
    color: color('black');
    &:hover{
        color: color('white');
    }
}
.bg-orange{
    // background-color: color('orange');
    @extend .nav-element;
    @extend .nav-element-orange;
}
.bg-black{
    background: color('black');
}

// modale compte client
.modal-client-background{
    display: none;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 100vh;
    width: 100%;
    background-color: color('black');
    // display: flex;
    align-items: center;
    justify-content: center;
    transition:  0.3s ease-out;
    .modal-client{
        background-color: color('white');
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-up("md"){
                    width: 60%;
        }
        @include media-breakpoint-up("lg"){
                    width: 50%;
        }
        @include media-breakpoint-up("xl"){
                    width: 40%;
        }
        @include media-breakpoint-up("xxl"){
                    width: 30%;
        }
    }
    .client-account{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        }
    .modal-client-logo{
        img{
            width: 50px;
            }
    }
    .client-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        input:nth-child(2){
            margin: 20px 0 5px 0;
        }
        input{
            width: 100%;
            color: color('white');
            background: color('black');
            padding: 10px 0;
        }
        .new-password{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            &:hover{
                cursor: pointer;
            }
        }
        .rester-connecte{
            display: flex;
            width: 100%;
            justify-content: flex-start;
            margin: 10px 0;
            input{
                width: 40px;
                padding: 10px 0;
            }
        }
    }
    .connection{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        h2{
            margin: 10px;
            border-top: 1px solid color('black');
            padding-top: 20px
        }
        button{
            @extend .btn;
            @extend .btn-orange;
            color: color('white');
            display: flex;
            align-items: center;
        }
        button:nth-child(1){
            margin: 20px 0;
        }
    }
}
.connection-modal-visible{
    display: flex ;
}

// modale panier-vide
#modal-panier-vide{
    z-index: 900;
}
.panier-vide{
    @include media-breakpoint-up("md"){
        width: 60%;
    }
    @include media-breakpoint-up("lg"){
            width: 50%;
    }
    @include media-breakpoint-up("xl"){
            width: 40%;
    }
    @include media-breakpoint-up("xxl"){
            width: 30%;
    }
    display: flex;
    .gizmo-sad{
        width: 70%;
        img{
            width: 100%;
        }
    }
    .container-panier-vide{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        margin: 0 auto;
            .texte-panier-vide{
                display: flex;
                justify-content: center;
                h2{
                    font-family: $italic-font;
                    letter-spacing: 1px;
                    width: 80%;
                    color: color('white');
                }
            }
            .logo-panier-vide{
                width: 100px;
            }
    }
}

// modale newsletter

.newsletter-modal{
    display: none;
    flex-direction: column;
    background-color: color('grey');
    position: fixed;
    top: 0;
    z-index: 15000;
    @include media-breakpoint-up("lg"){
        top: 0;
}
    .newsletter-modal-container{
        height: auto;
        background-color: color('white');
        @include display-flex();
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        @include media-breakpoint-up("md"){
            width: 60%;
        }
        @include media-breakpoint-up("lg"){
                width: 50%;
        }
        @include media-breakpoint-up("xl"){
                width: 40%;
        }
        @include media-breakpoint-up("xxl"){
                width: 30%;
        }
    }
    .newsletter-pop-up{
        width: 100%;
        @include display-flex();
        flex-direction: column;
        align-items: center;
        p{
            text-align: center;
            font-weight: bold;
            padding: 0 20px;
        }
        .newsletter-logo{
            margin: 20px 0;
            img{
                width: 200px;
            }
        }
        .newsletter-input{
            width: 80%;
            input{
                background: color('black');
                color: color('white');
                border-radius: 0px;
            }
            button{
                background-color: color('orange');
                border-radius: 0px;
                font-weight: bold;
            }
        }
    }
    .newsletter-pic{
        margin-bottom: 40px;
        img{
            width: 300px
        }
    }
}
// croix de fermeture des menus
.cross{
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    position: relative;
    span{
        display: block;
        width: 80%;
        height: 3px;
        background: color("orange");
        position: absolute;
        pointer-events: none;
    }
}
.cross span:nth-child(1){
    transform:  rotate(-135deg);
}
.cross span:nth-child(2){
    transform:  rotate(135deg);
}
.newsletter-modal-visible{
    display: flex;
}

// cards categories
.category-cards-container{
    @include display-flex();
    flex-direction: column;
    @include media-breakpoint-up("lg"){
        @include display-grid();
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .category-cards{
        border: 3px solid color('orange');
        padding: 20px;
        @include display-flex();
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        @include media-breakpoint-up("xl"){
            padding: 40px
        }
        .category-container{
            @include display-flex();
            gap: 10px;
        }
        background-color: color('black');
        .category-logo{
            width: 30%;
            img{
                width: 100%;
            }
        }
        .category-pic{
            width: 80%;
            img{
                width: 60%;
            }
        }
        .category-title{
            background-color: color('white');
            @include display-flex();
            justify-content: space-between;
            align-items: center;
            width: 60%;
            margin-top: 20px;
            @extend .btn-white;
            cursor: pointer;
            h2{
                margin: 0;
                width: 90%;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                font-size: font-size('md');
                @include media-breakpoint-up("lg"){
                    font-size: font-size('lg');
                }               
            }
            i{
                color: color('orange');
                font-size: font-size('xxl');
                padding: space(2);
            }
        }
    }
}

// carrousel
.caroussel{ 
    background: color('black');
    margin: 20px 0;
    .caroussel-1{
        width: 100%;
        margin: 0px auto;
        overflow: hidden;
        border: 3px solid color('orange');
        .slider{
            @include display-flex();
            animation: caroussel-1 12s infinite ease-in;
        }
        a{
            flex-shrink: 0; 
            width: 100%;
            text-align: center;
            color: white;
            position: relative;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img{
                width: 100px;
                margin: 20px;
            }
            span{
                color: color('white');
                width: auto;
                text-align: right;
                padding: 20px;
                font-size: font-size('xl');
                display: block;
                background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.19646799116997793) 0%);
                }
        }
        .slider-container-cask{
            background: url('../material/pics/cask.png') center/cover;
        }
        .slider-container-hifi{
            background: url('../material/pics/HIFI.jpg') center/cover;
        }
        .slider-container-enceintes{
            background: url('../material/pics/ENCEINTES.jpg') center/cover;
        }
        .slider-container-woofer{
            background: url('../material/pics/WOOFER.jpg') center/cover;
        }
        .slider-container-vortex{
            background: url('../material/pics/vortex.jpg') center/cover;
        }
        .slider-container-matos{
            background: url('../material/pics/gizmo-matos.jpg') center/cover;
        }
        .slider-container-brol{
            background: url('../material/pics/brol.jpg') center/cover;
        }
        .slider-container-phototech{
            background: url('../material/pics/photo-tech.jpg') center/cover;
        }
    }
}

@include media-breakpoint-up("lg"){
    #caroussel{
        @include display-flex();
        justify-content: center;
        background-color: color('black');
        gap: 50px;
    } 
    .caroussel{
        width: 40%;
    }   
}  
@include media-breakpoint-up("xxl"){
    #caroussel{
        gap: 80px;
    }
    .caroussel{
        width: 30%;
    }   
}  
// 5% par trans => 20%
// reste divisé par nb de pauses => 80% / 4 = 20% par pause 
@keyframes caroussel-1{
    0%,
    20%{
        transform: translateX(0);
    }
    25%,
    45%{
        transform: translateX(-100%);
    }
    50%,
    70%{
        transform: translateX(-200%);
    }
    75%,
    95%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-400%);
    }
}
// section social-media
.social-media{
    padding: 15px;
    .newsletter-input{
        width: 100%;
        input{
            background: color('black');
            color: color('white');
            border-radius: 0px;
        }
        button{
            background-color: color('orange');
            border-radius: 0px;
            font-weight: bold;
        }
    }
    .media-icons{
        @include display-flex();
        justify-content: center;
        margin: 20px 0;
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.19646799116997793) 0%);
        @include media-breakpoint-up("lg"){
            background: transparent;
        }
        a{
            color: color('black');
            &:hover{
                color: color('white');
            }
        }
        i{
            padding: 10px;
            font-size: font-size('xl');
            @include media-breakpoint-up("lg"){
                font-size: font-size('xxl');
                padding: 20px
            }
        }
    }
    @include media-breakpoint-up("lg"){
        @include display-flex();
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.19646799116997793) 0%);
        justify-content: space-around;
        .social-media-newsletter{
            display: flex;
            flex-direction: column;
            h3, p{
                margin: 2px 0;
            }
        }
    }
}




