.header{
    position: relative;
    background: url('../material/pics/PROMOS.jpg') center/cover;
    height: 300px;
    border: 5px solid color('orange');
    @include media-breakpoint-up("md"){
        height: 400px;
    }
    @include media-breakpoint-up("lg"){
        height: 500px;
        top: 55px;
        margin-bottom: 80px;
    }
    @include media-breakpoint-up("xxl"){
        height: 700px;
        top: 55px;
    }
    a{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .gizmo-promos{
        background-color: color('orange');
        width: 50%;
        h2{
            color: color('white');
            text-transform: uppercase;
            padding: 5px 10px;
            margin: 0;
            text-align: center;
            font-size: font-size('sm');
            letter-spacing: 0.5px;
            @include media-breakpoint-up("md"){
                font-size: font-size('md');
            }
            @include media-breakpoint-up("lg"){
                font-size: font-size('lg');
            }
            @include media-breakpoint-up("xl"){
                font-size: font-size('xl');
            }
            @include media-breakpoint-up("xxl"){
                font-size: font-size('xxl');
            }
        }
    }
    .header-logo{
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.19646799116997793) 0%);
        display: flex;
        justify-content: center;
        gap: 10%;
        margin: 10px;
        align-items: center;
        margin: 20px auto;
        padding: 10px;
        @include media-breakpoint-up("md"){
            justify-content: right;
        }
        .span-container{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include media-breakpoint-up("md"){
                width: 40%;
                font-size: font-size("xl");
            }
            @include media-breakpoint-up("lg"){
                width: 50%;
                font-size: font-size("xxl");
            }
            @include media-breakpoint-up("xl"){
                width: 40%;
                font-size: font-size("xxl");
            }
            span{
                color: color('white');
                padding: 0 5px;
            }
        }
        .span-container-width{
            width: auto;
            span{
                font-size: font-size('xs');
                text-transform: uppercase;
                @include media-breakpoint-up("md"){
                    font-size: font-size('md');
                }
                @include media-breakpoint-up("lg"){
                    font-size: font-size('lg');
                }
                @include media-breakpoint-up("xl"){
                    font-size: font-size('xl');
                }
                @include media-breakpoint-up("xxl"){
                    font-size: font-size('xxl');
                }
            }
            
        }
        .header-logo-svg{
            img{
                width: 100px;
                @include media-breakpoint-up("md"){
                width: 200px;
                }
            }
        }
    }
}
.header-pic{
    background: url('../material/pics/PROMOS.jpg') center/cover;
}
.rep-pic{
    background: url('../material/pics/REPARATEURS.jpg') center/cover;
}