.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: color('orange');
    border: none;
    padding: space(2);
    cursor: pointer;
}
// defini couleur avec effet hover
@each $color, $value in $colors{
    .btn-#{$color} {
        background-color: $value;
        &:hover {
            @include mytrans(.5s);
            background-color: scale-color($value, $alpha: -20%);
        }
    }
}
@each $color, $value in $colors{
    .nav-element-#{$color} {
        background-color: $value;
        &:hover {
            @include mytrans(.5s);
            background-color: scale-color($value, $alpha: -20%);
        }
    }
}